In [3]:
#importamos las librerias necesarias para trabajar:
import pandas as pd

# Leer el archivo CSV y convertirlo en un DataFrame
df = pd.read_csv('../data/pob_madrid.csv',encoding='latin-1', sep=';')

df.dropna(subset=['Total'], inplace=True)
# Imprimir el DataFrame
df["Total"] = df["Total"].str.replace(".", "").astype(int)


df['Municipios'] = df['Municipios'].apply(lambda x: ' '.join(x.split()[1:]))
df_condic_municipios=  df.loc[(df['Periodo'] == 2022) & (df['Total'] > 50000) & (df['Sexo'] == 'Total') ]

df_filtrado_pob_municipios = df_condic_municipios.drop_duplicates(subset=['Municipios'], keep='first')
df_filtrado_pob_municipios.to_csv('../data/pob_municipios_madrid_mas_50000hab.csv', index=False)
df_filtrado_pob_municipios

c:\Users\HP\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  if __name__ == "__main__":

                       Municipios   Sexo  Periodo    Total
0                          Madrid  Total     2022  6750336
405             Alcalá de Henares  Total     2022   196888
486                    Alcobendas  Total     2022   117041
567                      Alcorcón  Total     2022   170296
1053                     Aranjuez  Total     2022    59762
1134              Arganda del Rey  Total     2022    57553
1782           Boadilla del Monte  Total     2022    62627
3645             Collado Villalba  Total     2022    64263
3888               Colmenar Viejo  Total     2022    53389
4131                      Coslada  Total     2022    80596
4698                  Fuenlabrada  Total     2022   189891
5265                       Getafe  Total     2022   183219
5994                      Leganés  Total     2022   186660
6480                  Majadahonda  Total     2022    72179
7371                     Móstoles  Total     2022   208761
8262                        Parla  Total     2022   130577
8829                        Pinto  Total     2022    54088
8991           Pozuelo de Alarcón  Total     2022    87728
9720            Rivas-Vaciamadrid  Total     2022    96690
10044        Rozas de Madrid, Las  Total     2022    95725
10611  San Sebastián de los Reyes  Total     2022    91083
11583           Torrejón de Ardoz  Total     2022   134733
12150                 Tres Cantos  Total     2022    50187
12717                   Valdemoro  Total     2022    79100